<mat-card>
	<mat-icon 
		class="example-icon" 
		[routerLink]="['/cliente']"
		aria-hidden="false">person_add
	</mat-icon>
</mat-card>			
<div class="list-group users-list">
	<div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start">
		<div class="row">
			<div class="col col-md-8 text-col">
				<div class="mb-1">
					{{item.payload.doc.data().Nombre}} 
					{{item.payload.doc.data().Apellido}}
				</div>
				<small>Edad: {{item.payload.doc.data().Edad}}</small><br>
				<small>Fecha Nacimiento: {{item.payload.doc.data().FechaNacimiento | date:'dd/MM/yyyy'}}</small>
			</div>
		</div>
	</div>
</div>